<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />

        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
            <link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />        
        {% endblock %}
    </head>
    <body data-ng-app="vnsApp">
        <div id="content">
            <div class="header clear-fix">
                
            </div>

            <div class="sf-reset">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}

            {% if app.environment == 'dev' %}

                {% javascripts  '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular/angular.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular-resource/angular-resource.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular-route/angular-route.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/underscore/underscore.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}

            {% else %}
                {% javascripts  '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular/angular.min.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular-resource/angular-resource.min.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/angular-route/angular-route.min.js'
                    '@VnsFrontAngularJsBundle/Resources/public/js/vendor/underscore/underscore.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}

        {% endblock %}
    </body>
</html>
